/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {

/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │  0  1  2  3  4  5   │ │  6  7  8  9 10 11   │
  │ 12 13 14 15 16 17   │ │ 18 19 20 21 22 23   │
  │ 24 25 26 27 28 29   │ │ 30 31 32 33 34 35   │
  ╰───────╮ 36 37 38    │ │ 39 40 41   ╭────────╯
          ╰─────────────╯ ╰────────────╯ */


    combos {
        compatible = "zmk,combos";

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <7 8>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <4 3>;
        };

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <2 3>;
        };
    };

    behaviors {
        td_mPaste: td_mPaste {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MPASTE";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>, <&kp LG(V)>;
	
        };
	hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp TAB       &kp Q          &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P        &kp BSPC
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp LCTRL   &hml LGUI A   &hml LALT S   &hml LCTRL D  &hml LSHIFT F     &kp G            &kp H      &hmr RSHIFT J &hmr RCTRL K  &hmr RALT L   &hmr RGUI SQT &kp SEMICOLON
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp LSHFT      &kp Z          &kp X         &kp C         &kp V         &kp B            &kp N          &kp M       &kp COMMA     &kp DOT        &kp FSLH      &kp ESC
//  ╰─────────────────────────────────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────────────────────────────────╯
                      			           &mo 3         &mo 1     &kp BACKSPACE       &kp SPACE       &mo 2      &caps_word
//                                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        num {
            display-name = "Num";
            bindings = <
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
	&none 	      &kp DEL     &kp LS(TAB)    &kp COLON      &kp TAB      &kp BSPC          &kp PLUS       &kp N7        &kp N8        &kp N9       &kp MINUS       &none
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &none        &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &kp SPACE         &kp STAR       &kp N4        &kp N5        &kp N6       &kp FSLH        &none
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &none          &none         &none        &none          &none       &kp ENTER         &kp EQUAL      &kp N1        &kp N2        &kp N3       &kp DOT         &none
//  ╰─────────────────────────────────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────────────────────────────────╯
                                                  &none         &trans       &kp SPACE          &kp N0       &kp ENTER     &kp RALT
//                                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };

        sym {
            display-name = "Sym";
            bindings = <
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &none        &kp GRAVE     &kp LPAR    &kp LEFT_BRACE  &kp LBKT       &kp LT             &kp GT      &kp RBKT   &kp RIGHT_BRACE   &kp RPAR     &kp TILDE       &none
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kt TAB       &kp PIPE      &kp COLON    &kp DOLLAR     &kp MINUS  &kp EXCLAMATION      &kp HASH     &kp PERCENT  &kp AMPERSAND &kp SEMICOLON   &kp BSLH    &kt BACKSPACE
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &none       &kp AT_SIGN  &kp ASTERISK    &kp EQUAL     &kp PLUS    &kp QUESTION          &none    &kp UNDERSCORE     &none       &kp CARET     &kp SLASH       &none
//  ╰─────────────────────────────────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────────────────────────────────╯
                                                 &kp LGUI       &trans       &kp SPACE          &kp RET       &trans       &kp RALT
//                                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };

        Nav {
	    display-name = "Nav";
            bindings = <
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &trans       &kp LC(Y)  &kp PRINTSCREEN    &trans       &trans     &kt BACKSPACE        &kp DEL    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans       &kp LC(A)     &kp LALT      &kp LCTRL     &kp LSHFT     &kp SPACE          &kp ESC      &kp LEFT      &kp DOWN       &kp UP       &kp RIGHT      &trans
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &trans       &kp LC(Z)     &kp LC(X)     &kp LC(C)    &td_mPaste     &kp ENTER        &kp INSERT     &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &bt BT_CLR
//  ╰─────────────────────────────────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────────────────────────────────╯
                                                  &trans        &trans        &trans            &trans        &trans        &trans
//                                            ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
